@using BLL.Interfaces;
@model TaskManager.Models.RegisterModel

@section navigation{
    @Html.Partial("_Navigation")
}

<div>
      @foreach (var i in (IEnumerable<RoleEntity>)ViewBag.All)
        {
                 <tr>
                    <th>
                        <b>Role Id:</b> @i.Id
                    </th> 
                    <th>
                        <b>Role Name:</b> @i.Name
                    </th> 
                 </tr><br />
        }
</div>