@{
    ViewBag.Title = "About";
}

@section navigation{
    @Html.ActionLink("Back", "Index", "Home", null, new { style = "margin-right : 20px"})
    @Html.Partial("_Navigation")
}    

<h1>Manager about</h1>