@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    Shymanouski Ivan
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:shymanouskiivan@gmail.com">shymanouskiivan@gmail.com</a></span>
    </p> 
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Minsk, Belarus
    </p>
</section>