@{
    ViewBag.Title = "Task manager";
}


@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1> 
            </hgroup> 
        </div>
    </section>
}
<ol class="round"> 
        <h1>Congratulations, Admin</h1>
        <p></p>
        <h4>Maybe one day you'll be able to administrate this site</h4>
</ol> 
