@{
    ViewBag.Title = "Task manager";
}


@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1> 
            </hgroup> 
        </div>
    </section>
}
<ol class="round"> 
        <h1>Join us</h1>
        <p></p>
        <h4>When you register you will be able to use the tools of the site</h4>
</ol> 
