@{
    ViewBag.Title = "Index";
}


@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1> 
            </hgroup> 
        </div>
    </section>
}
<ol class="round"> 
        <h5>Join us</h5>
        <p></p>
        <a class="btn btn-large btn-primary" href="~/Account/Register">Register</a>
</ol> 
