@{
    ViewBag.Title = "Task manager";
}


@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1> 
            </hgroup> 
        </div>
    </section>
}
<ol class="round"> 
                <h1>All users in system:</h1> 
                 @foreach(var t in ViewBag.Users)
                 {
                 <tr>
                    <th>
                        <h3>User: @t.Id</h3> 
                    </th> 
                    <th>                     
                        <b>Email: @t.Email</b> 
                    </th>
                 </tr><br />
                 }
</ol> 
