@{
    ViewBag.Title = "Task manager";
}


@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1> 
                <p>This is your profile</p>
                <p>One day you'll be able to see your tasks</p>
            </hgroup> 
        </div>
    </section>
}
<ol class="round"> 
        <h1>Good lack and have fun</h1>
</ol> 
